.left-column, .right-column{
    float:right;
}
.center{
    float:left;
}
.dateLeftDiv{
    float:left;
    padding-right:15px;
}
.dateDiv{
    padding-left:0px;
    
}
.graph-style{
    width:500px;
    height:300px;    
}
.graphWrapper{
    float:center;
}
.graphDivS{
    float:left;
}
.mainDiv{
    padding-left: 30px;
}

